body{
    background: white; 
}

.barra{
    background: #2B58FF;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.dropdown-menu{
    margin: 17px;
    background:darkcyan;
    color: orange;
    box-shadow: 0 0 10px black;   
}

.menuperfil{
    color: white;
}

.menuperfil:focus{
    background: turquoise;
    box-shadow: black;
}

.cerrar:hover {
    background-color: darkcyan;
    box-shadow: black;
}

.user{
    font-size: 50px;
}

/*BARRA LATERAL*/
.barra-lateral{
    background: #2B58FF;
    color: white;
    min-width: 120px;
    min-height: 50vh;
    padding: 0;
}

.barra-lateral a {
    color: white;
}

/*ESTILOS DEL MENU*/
.barra-lateral .menu a {
    display: block;
    padding: 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-bottom: 1px #2B58FF;
}

.barra-lateral .menu a :hover{
    background-color: #2B95FF;
    text-decoration: none;
}
/*
.barra-lateral .menu {
    border-top: 5px white solid;
}
*/

.barra-lateral .menu a i {
    margin-right: 20px;
}

/*ESTILOS DEL MAIN*/
.main {
    padding-top: 50px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}

/*media querys*/
@media screen and (max-width: 1000px){
    .barra-lateral{
        min-width: auto;
    }
    .barra-lateral .menu a span{
        display: none;
    }
    .barra-lateral .menu a i {
        min-width: auto;
        margin: 0;
    }
    .barra {
        min-width: auto;
    }

    .dropdown-menu {
        margin: 20px -80px 0px;
    }
}

@media screen and (max-width: 575px) {
    .barra-lateral{
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu{
        margin: 20px -80px 0px;
    }
    body {
        font-size: 26px;
        overflow: visible;
    };
}



